# Node modules
node_modules/

# Log files
*.log

# Build output
/build

# Environment files
.env
.env.local
.env.*.local

# Dependency directories
bower_components/

# Mac OS specific
.DS_Store

# Windows specific
Thumbs.db

# Yarn specific
yarn-error.log

