@import "~/src/scss/index.scss";

.list-projects-web {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Máximo 2 columnas
    gap: 20px;

    .item {
      padding: 20px;
    }

    // En móviles, solo 1 columna
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .project-title {
    font-size: 35px;
    color: $text-dark;
    font-weight: bold;
    text-align: center;
    text-decoration: solid;
    padding: 100px 0 40px 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    a {
      opacity: 0.6;

      &.active {
        opacity: 1;
      }
    }
  }
}
