@import "~/src/scss/index.scss";

.list-projects-web {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../../assets/jpg/contact.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    //color: $text-light;

    .list {
        display: flex;
        flex-wrap: wrap;

        .item {
            width: 50%;
            max-height: 50%;
            padding: 20px;
        }
    }

    .project-title {
        font-size: 35px;
        color: $text-light;
        font-weight: normal;
        text-align: center;
        text-decoration: solid;
        padding: 100px 0 40px 0;
        font-weight: bold;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;

        a {
        opacity: 0.6;

        &.active {
            opacity: 1;
        }
        }
    }
}
  