@import "~/src/scss/index.scss";

.image-gallery-title{
  font-size: 35px;
  color: $text-light;
  font-weight: normal;
  text-align: center;
  text-decoration: solid;;
  padding: 100px 0 40px 0;
  font-weight: bold;
}

.image-gallery-section{
  background-image: url("../../../assets/png/NARANCIA.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}