@import "~/src/scss/index.scss";

.footer-info {
  display: flex;
  flex-direction: column;  /* Alinea los elementos verticalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center;     /* Centra los elementos horizontalmente */
  width: 50%;
  color: $text-dark;
  text-align: center;

  .logo-footer {
    width: 100px;
    margin-bottom: 10px;  /* Separa el logo del texto */
    padding-top: 10px;
  }

  p {
    opacity: 0.4;
    font-size: 16px;
  }

  a {
    font-size: 16px;
    padding: 7px !important;
  }
}
