@import "~/src/scss/index.scss";

.image-post-section {
  background-color: #f3f3f3;
  padding: 2rem 1rem;
  margin-top: 3rem;
  border-radius: 16px;

  .image-gallery {
    max-width: 900px;
    margin: 0 auto;
  }
}
