@import "~/src/scss/index.scss";

.list-posts-web {
  background-image: url("../../../../assets/png/BLUE.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Máximo 2 noticias por fila
    gap: 20px; // separación entre items

    .item {
      padding: 20px;
    }

    // En móviles, solo 1 noticia por fila
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .post-title {
    font-size: 35px;
    color: $text-light;
    font-weight: bold;
    text-align: center;
    text-decoration: solid;
    padding: 100px 0 40px 0;
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    a {
      opacity: 0.6;

      &.active {
        opacity: 1;
      }
    }
  }
}
