@import "~/src/scss/index.scss";


.post-container{
  // background-image: url("../../../assets/jpg/contact.jpeg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.post {
  padding-top: 100px;

  .title {
    font-size: 35px;
    color: $text-dark;
    font-weight: normal;
    text-align: center;
    text-decoration: solid;;
    // padding: 100px 0 40px 0;
    font-weight: bold;
  }

  .content {
    color: $text-dark;
    font-size: 16px;

    pre {
      background-color: #000000;
      overflow-x: scroll;
      padding: 20px;
    }
  }

  .img {
    max-width: 100%;   /* Asegura que la imagen no exceda el contenedor */
    height: auto;      /* Mantiene la proporción de la imagen */
    margin: 20px auto; /* Agrega un margen superior e inferior, y la centra */
    display: block;    /* Hace que la imagen sea un bloque (para centrarla con margin) */
    border-radius: 20px;
  }
}