.not-found {
    text-align: center;
    padding: 80px 20px;
    margin-top: 50px;

    h1 {
        font-size: 6rem;
        margin-bottom: 10px;
        color: #ff4d4f;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 15px;
        color: black;
        font-weight: bold;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    a {
        font-size: 1rem;
        color: #1890ff;
        text-decoration: none;
        border: 1px solid #1890ff;
        padding: 8px 15px;
        border-radius: 6px;

        &:hover {
        background: #1890ff;
        color: #fff;
        }
    }
}
