
@import "~/src/scss/index.scss";
  
.contact-section {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../../assets/png/NEON.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: $text-light;

  &__content {
    display: flex;
    flex-direction: column; /* Por defecto, en columnas */
    align-items: center;
    width: 100%;
  }

  &__title {
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    text-decoration: solid;
    padding: 100px 0 30px 0;
    font-weight: bold;
    margin: 50px 0 50px 0;
  }

  &__layout {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 2rem;
    margin-bottom: 2rem;

    /* Al hacer la disposición columnar en móviles */
    @media (max-width: 768px) {
      flex-direction: column; /* Cambia a columna en móviles */
    }
  }

  &__left {
    flex: 1;
    font-size: 1.5rem;
  }

  &__right {
    flex: 1;
  }

  /* Asegúrate de que la sección de texto quede arriba */
  .contact-section__left {
    flex: 1;
    padding-right: 1rem;
    order: 1; /* El texto se mantiene arriba */
  }

  /* Asegúrate de que el formulario quede abajo */
  .contact-section__right {
    flex: 1;
    padding-left: 1rem;
    order: 2; /* El formulario va debajo */
  }

  /* Media query para móviles */
  @media (max-width: 768px) {
    /* El título se mantiene centrado en la parte superior */
    .contact-section__title {
      font-size: 1.8rem; /* Reducir tamaño de fuente en móviles */
      padding: 50px 0 20px 0;
      margin: 30px 0;
    }

    .contact-section__layout {
      flex-direction: column; /* Cambiar la dirección de la fila a columna en móviles */
      gap: 1rem; /* Ajustar el espacio entre los elementos */
    }

    .contact-section__left,
    .contact-section__right {
      text-align: center;
      flex: none; /* Evitar que se estiren */
      width: 100%; /* Asegura que cada sección ocupe el 100% del ancho */
      padding: 1%;
    }
  }
}
