// src/scss/colors.scss
$primary: #1890ff !default;
$primary-hover: #0280b3 !default;

// Text
$text-light: #fff !default;
$text-dark: #001b35 !default;

// Background
$background-dark: #001b35 !default;
$background-grey: #f0f3f4 !default;
$background-dark-web: #16212b !default;
$background-white-web: #fff !default;

// Border
$border-grey: #808080 !default;

// Status
$success: #84b84c !default;
$error: #9f3a38 !default;

// Social Color
$youtube: #cd201f !default;
$twitter: #1da1f2 !default;
$facebook: #3b5998 !default;
$linkedin: #0077b5 !default;
