@import "~/src/scss/index.scss";

.list-documents-container {
  background-color: rgba(248, 248, 255, 0.105);
}

.list-documents-section {
  .list-documents__title {
    font-size: 35px;
    color: $text-dark;
    font-weight: bold;
    text-align: center;
    text-decoration: solid;
    padding: 100px 0 40px 0;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // máximo 2 columnas
    gap: 20px;
    width: 100%;

    .item {
      padding: 20px;
      box-sizing: border-box;
    }

    // En pantallas chicas → solo 1 columna
    @media (max-width: 768px) {
      .list {
        grid-template-columns: 1fr; // 1 columna en móvil
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    a {
      opacity: 0.6;

      &.active {
        opacity: 1;
      }
    }
  }
}
